@if (fg) {
  <div class="container text-light p-5 rounded-4 opacity-75 contact-us-container">
    <span class="text-center mb-5 h3">{{config.contactUs.label}}</span>
    <form
      [formGroup]="fg"
      #contactUsForm
      (ngSubmit)="onSubmit(fg.value)"
      class="row gap-4 py-4 needs-validation"
      novalidate>
      <!--      <div class="row gap-4 py-4">-->
      <!--      <div class=" col-12">-->

      <div class="form-group col-12 col-md-8">
        <label for="phone">Phone</label>
        <input
          type="tel"
          class="form-control"
          name="phone"
          aria-describedby="phoneHelp"
          placeholder="Phone number"
          formControlName="phone"
          id="phone"
          [attr.required]="isRequired(this.fg.controls['phone'])" />
        <!-- <small id="phoneHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        <!-- <div class="invalid-feedback">we need your phone to contact you back.</div> -->
      </div>
      <span class="h4">or</span>
      <div class="form-group col-12 col-md-8">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          aria-describedby="emailHelp"
          placeholder="Enter email"
          formControlName="email"
          id="email"
          [attr.required]="isRequired(this.fg.controls['email'])" 
           />
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        <div class="invalid-feedback">we need your email to contact you back.</div>
      </div>
      
      <div class="form-group col-12 col-md-8 d-flex">
        <button type="submit" class="btn btn-primary flex-grow-1">Send</button>
      </div>
    </form>
    <!--    </div>-->
  </div>
}
