
<div class="row gap-3 bg-dark rounded-2 m-0 p-2 py-4">
    <div class="row">
        <div class="col text-justify">
            <span class="h2 d-flex fw-bold">How it works</span>
            <span class="d-flex">Using King Valets is quick, simple, and seamless. Here’s how it works:
            </span>
        </div>
    </div>

    <div class="row">
      <div class="col text-justify">
        <span class="h4 fw-bold d-flex">
            1. Book Your Spot
        </span>
        <span class="h6 d-flex">
            Reserve a valet slot through our app before arriving at the metro station — or just walk in!
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col text-justify">
        <span class="h4 d-flex fw-bold">
            2. Drop Off Your Car
        </span>
        <span class="d-flex">
            Drive to the designated King Valets zone. Our trained staff will greet you, log your vehicle, and securely park it in our monitored facility.
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col text-justify">
        <span class="h4 d-flex fw-bold">
            3. Enjoy Your Day
        </span>
        <span class="d-flex">
            Head straight to your train or destination — no need to waste time circling for parking.
        </span>
      </div>
    </div>
    <div class="row">
        <div class="col text-justify">
          <span class="h4 d-flex fw-bold">
            4. Pick Up When You're Back
          </span>
          <span class="d-flex">
            Use the app to notify us when you’re returning. We’ll have your car ready and waiting.          </span>
        </div>
      </div>
  </div>
