<div class="container text-light">
  <div class="row gap-5">
    <div class="row mb-5"></div>
    <div class="row">
      <div class="col-12 text-end">
        <span class="display-1 ms-auto fw-bolder">{{ config.title }}</span>
      </div>
      <div class="col-12 text-end">
        <span class="h4 strong fst-italic tag-title">{{
          config.tag_line
        }}</span>
      </div>
    </div>
    <div class="row">
      <div class="col text-center setting-icon">
        <span class="fx-icon fx-icon-settings"></span>
      </div>
    </div>
    <div class="row">
      <div class="col text-center setting-icon">
        <span class="mx-2 my-1 fs-3 fw-medium">{{ config.labels.building }}</span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="divider" role="separator" aria-label="Divider"></div>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-center">
        <div class=" contact-us-container">
          <app-contact-us></app-contact-us>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="footer">
          <footer>
            <div class="d-flex flex-column flex-md-row fw-bold fs-5">
              <span class="mx-2 my-1">{{ config.labels.aboutus }}</span>
              <span class="mx-2 my-1">{{ config.labels.team }}</span>
              <span class="mx-2 my-1">{{ config.labels.contactus }}</span>
            </div>
          </footer>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet />
