/* You can add global styles to this file, and also import other style files */
@forward "styles/svg_components";

html {
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}
html {
  height: 100%;
  min-height: 100%;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  // min-height: 100vh;
  //   font-family: "Inter", sans-serif;
  //   font-family:  Arial, Helvetica, sans-serif;
  //   font-family: 'Courier New', Courier, monospace;
  //   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  //   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  //   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  //   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  //   font-family: 'Times New Roman', Times, serif;
  //   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  //   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-family: Georgia, "Times New Roman", Times, serif;
  //   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  //   font-family: Verdana, Geneva, Tahoma, sans-serif;
  //   font-family: cursive;
  //background-color: var(--surface-card);
}

body {
  // content:url("assets/images/DALL·E.jpeg");
  // background-image: url("assets/images/DALL·E.jpeg");
  background-image: url("assets/images/dalle2.jpg");
  // background-size: cover;
  // background-size: 43rem 84rem;
  background-size: calc(max(100%, 1000px));
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  min-height: -webkit-fill-available;
}

.title{
  text-shadow: rgb(116 116 116) 1px 0 10px;
}

.tag-title {
  font-family: none;
  text-shadow: rgb(116 116 116) 1px 0 10px;
}

.text-shadow {
  text-shadow: rgb(116 116 116) 1px 0 10px;
}

.contact-us-container {
  height: 29rem;
  max-width: 44rem;
}

.contact-us-wrapper {
  background-color: rgb(0, 0, 0, 0.6) !important;
  background-blend-mode: lighten;
}

.setting-icon {
  span {
    mask-size: contain;
    height: 10em;
    width: 10em;
  }
}

.building-label {
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
}
.text-justify {
  text-align: justify;
  text-justify: inter-word;
}

.error-message {
  background-color: rgba(255, 0, 0, 0.2);
  // height: 2.7rem;
  // border: 1px solid red;
  // color: white !important;
  // padding: 5px;
  // margin-bottom: 10px;
}

.slowly-rotate {
  animation: clockwise 6s linear infinite;
}

.slowly-rotate-anti {
  animation: anticlockwise 3s linear infinite;
}

@keyframes clockwise {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

@keyframes anticlockwise {
  from {
      transform: rotate(270deg);
  }
  to {
      transform: rotate(90deg);
  }
}