/* You can add global styles to this file, and also import other style files */
@forward "styles/svg_components";

html {
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  //   font-family: "Inter", sans-serif;
  //   font-family:  Arial, Helvetica, sans-serif;
  //   font-family: 'Courier New', Courier, monospace;
  //   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  //   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  //   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  //   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  //   font-family: 'Times New Roman', Times, serif;
  //   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  //   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-family: Georgia, "Times New Roman", Times, serif;
  //   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  //   font-family: Verdana, Geneva, Tahoma, sans-serif;
  //   font-family: cursive;
  //background-color: var(--surface-card);
}
body {
  background-image: url("assets/images/DALL·E.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top top;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

// img {
//     filter: brightness(50%);
// }

.tag-title {
  font-family: none;
}

.contact-us-container {
  background-color: black;
}

.setting-icon {
  span {
    mask-size: contain;

    height: 10em;
    width: 10em;
  }
}
